/* Register Component */

.paper {
  margin-top: 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar {    
  margin: 0.1em; 
}

.formRegister {
  width: 100%;
  margin-top: 1.5em;
}

.submitRegister {
  margin-top: 1.5px;
  margin-bottom: 15px;
}
  /* 
  //   submit: {
  //     margin: theme.spacing(3, 0, 2),
  //   }, */